* {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Roboto", sans-serif; 
}



/*图片*/

.picture .carousel {
    max-width:100%;
    height: 713px;
    overflow: hidden;
    position: relative;

}

.picture .image_reel {
    position: absolute;
    left: 0;
    top: 0;
}

.picture .image_reel img {
    float: left;
}

.picture .paging {
    position: absolute;
    bottom: 36%;
    left: 6em;
    display: none;
}
.picture .page_image1 img{
    border-radius:30px;
    width: 4.6em;
    height: 4.5em;
}

.picture .page_image2 img{
    border-radius:30px;
    width: 4.6em;
    height: 4.5em;
   
}

.picture .page_image3 img{
    border-radius:30px;
    width: 4.6em;
    height: 4.5em;
}

.picture .paging span{
    margin-left: 1em;
    display: inline-block;
}
.picture .container{
    position: absolute;
    bottom:11em;
    left: 12em;
    font-family: "Roboto", sans-serif; 
}

.picture .container h2{
    font-size: 5vw;
    color: #fff;
    font-weight: 300;
     
}

.picture .container p{
    color: #fff;
    font-size: 1.2em;
    line-height: 2em;
}

.picture .container p span{
    border-right:2px solid #fff;
    padding-right:0.8em;
    padding-left: 0.8em;
}
.picture .container p span:last-child{
    border-right:none;
}

.header__logo_menu_wrap{
    position: fixed;
    top: 100px;
    width: 100%;
    height: 100px;

}

.header_fixed{
    position: fixed;
    top: 0;
    z-index: 3;
    background: #333;
    width: 100%;
    height: 100px;
    background-color:rgba(0,0,0,0.8);
}

.header__logo{
    left: 110px;
    top: 25px;
}

.header__menu{
    position: absolute;
    left: 360px;
    top: 2.4em;
}

.onepage-nav .onepage-menu li a {
    text-decoration:none;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.06em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top:0.2em;
    
    
}
.current-menu-item a{
    background: pink;
    display: inline-block;
    height: 2em;
    border-radius: 2em;
}


.onepage-nav .onepage-menu a:hover{
    background: pink;
    display: inline-block;
    height: 2em;
    border-radius: 2em;
}

.onepage-nav ul {
    list-style: none;
}

.onepage-nav .onepage-menu > li {
    display: inline-block;
}

.box-share_wrap{
    width: 50px;
    height: 200px;
    background: red;
    position: fixed;
    top: 260px;
    right: 0;
    z-index: 4;
}

.kong{
    height: 10em;
    background: rgb(247, 245, 245);
}

.kong1{
    height: 5em;
    background: rgb(247, 245, 245);
}
.two{
    background: rgb(247, 245, 245);
}

.two .container{
    text-align: center;
}

.three h2{
    margin-top: 3em;
    font-size: 48px;
    font-weight: 300;
    line-height: 64px;
}

.three .container img{
    max-width: 100%;
    height: 550px;
    padding-bottom: 1.9em;
    margin-top: 2.5em;
}

.md-btn--pill {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.photoGraph{
    overflow: hidden;
    margin: 10px auto;
    margin-left: 20px;
    height: 290px;
    width: 270px!important;
    padding : 0!important;
    
}

.photoGraph img{
    transition: all 0.5s;
    height: 290px;
    width: 270px;
}

.box-image__info{
    background: #000;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 290px;
    color: #fff;
   
}


